.global-wrapper {
  height: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // background-image: url("../assets/a.jpg");

  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;

  background: #5a3760;
  background: linear-gradient(335deg, #5a3760 0%, #404772 100%);
}
