@use "sass:color";

$accent-color1: #d9c029;
$accent-color2: #d955ad;
$accent-color3: #3fd4d8;
$accent-color4: #684cbd;
$accent-color5: #292d45;

$body-font-family: "Ubuntu", sans-serif;
$button-font-size: 1rem;

.button {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  overflow: visible;
  font-family: $body-font-family;
  font-size: $button-font-size;
  font-weight: 500;
  border-radius: 50px;
}

.accent-button {
  color: #ffffff;
  background-color: $accent-color2;
  width: 100%;
  background-image: linear-gradient(135deg, #ffd3a5 10%, #fd6585 100%);
  box-shadow: 0px 4px 0px 0px #ca6d72;
  transition: all 0.1s linear;

  &:hover {
    box-shadow: 0 2px 0 #ca6d72;
    transform: translateY(3px);
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
  }

  &:active {
    background-image: linear-gradient(
      135deg,
      color.scale(#ffd3a5, $lightness: 20%) 10%,
      color.scale(#fd6585, $lightness: 20%) 100%
    );
    background-color: color.scale($accent-color1, $lightness: -30%);
  }

  &:focus {
    background-color: color.scale(#ffd3a5, $lightness: -10%);
    background-image: linear-gradient(
      135deg,
      color.scale(#ffd3a5, $lightness: 20%) 10%,
      color.scale(#fd6585, $lightness: 20%) 100%
    );
  }
}

.social-button {
  background-color: #fff;
  width: 100%;
  color: black;
  box-shadow: 0px 4px 0px 0px #ca6d72;
  transition: all 0.1s linear;

  &:hover {
    box-shadow: 0 2px 0 #ca6d72;
    transform: translateY(3px);
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    // background-color: color.scale(#fff, $lightness: -10%);
  }

  &:active {
    background-color: color.scale(#fff, $lightness: -20%);
  }

  &:focus {
    background-color: color.scale(#fff, $lightness: -20%);
  }
}

.tab-button {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.05rem;

  &:hover {
    background-color: color.scale($accent-color3, $lightness: -10%);
  }

  &:active {
    background-color: color.scale($accent-color3, $lightness: -30%);
  }

  &:focus {
    box-shadow: 1px 2px 50px 13px $accent-color3;
  }
}
