@use "sass:color";

$input-color-background: rgb(54, 48, 48);
$input-color: #dee1e4;
$input-label-font-size: 0.8rem;
$input-font-size: 1.2rem;
$input-font-family: "Ubuntu", sans-serif;
$input-error-text-color: #d9574a;
$input-error-text-color2: #8c3f37;

.form {
  &__group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;

    @media screen and (max-width: device-width(mobile)) {
      width: 200px;
    }
  }

  &__label {
    font-size: $input-label-font-size;
  }

  &__input {
    border: none;
    outline: none;
    background-color: $input-color-background;
    color: $input-color;
    padding: 7px;
    margin: 5px 0;
    font-family: $input-font-family;
    font-size: $input-font-size;
    border-bottom: 2px solid #fe9a95;

    &:active,
    &:focus {
      background-color: color.scale($input-color-background, $lightness: 10%);
    }

    &.ng-invalid.ng-touched {
      border-bottom: 2px solid $input-error-text-color;
    }
  }

  &__error {
    color: $input-error-text-color;
    font-size: 0.8rem;
  }
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: $input-color-background;
  border: none;
  padding: 8px;
  outline: #000;
  position: relative;
  cursor: pointer;
  margin: 0;
  vertical-align: middle;

  &:active {
    background-color: color.scale($input-color-background, $lightness: 10%);
  }

  &:checked {
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
      inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
      inset 15px 10px -12px rgba(255, 255, 255, 0.1);

    &:after {
      content: "";
      border-left: 2px solid$input-color;
      border-bottom: 2px solid $input-color;
      transform: rotate(-45deg);
      position: absolute;
      top: 0px;
      left: 4px;
      height: 6px;
      width: 12px;
      color: $input-color;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
    }
  }

  + label {
    padding-left: 8px;
    font-size: $input-label-font-size;
    line-height: 1.7;
    cursor: pointer;

    // &:before {
    //   content: "";
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   width: 1.4em;
    //   height: 1.4em;
    //   border: 1px solid #aaa;
    //   background: #fff;
    //   border-radius: 0.2em;
    //   box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1),
    //     0 0 0 rgba(203, 34, 237, 0.2);
    //   -webkit-transition: all 0.275s;
    //   transition: all 0.275s;
    // }

    // &:after {
    //   content: "✕";
    //   position: absolute;
    //   top: 0.525em;
    //   left: 0.18em;
    //   font-size: 1.375em;
    //   color: #cb22ed;
    //   line-height: 0;
    //   -webkit-transition: all 0.2s;
    //   transition: all 0.2s;
    // }
  }
}
