@use "./icons.scss";
@use "./buttons.scss";
@use "./forms.scss";

$body-text-color: #e1e5e6;
$body-background-color: #292d45;
$body-font-family: "Ubuntu", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");

html,
body {
  height: 100%;
}

body {
  margin: 0;
  // background-color: $body-background-color;

  font-family: $body-font-family;
  font-size: 1.3rem;
  color: $body-text-color;
}

$devices-max-width: (
  mobile: 425px,
  tablet: 768px,
);

@function device-width($device-name) {
  @return map-get($devices-max-width, $device-name);
}
